.MainPageCard {
    position: relative;
    background: url('../../assets/mainPageBack.png') top no-repeat;
    width: 100%;
    min-height: 880px;
}

.mainPage_card_title {
    color: var(--white);
    font-weight: 700;
    font-size: 28px;
    max-width: 355px;
}

.mainPage_card_content {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 1470px;
}

.mainPage_card_price {
    color: var(--orange);
}

.house_options {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.house_option {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

@media screen and (max-width: 1480px) {
    .mainPage_card_content {
        max-width: 1200px;
    }
  }
  
  @media screen and (max-width: 1290px) {
    .mainPage_card_content {
        max-width: 800px;
    }
  }
  
  @media screen and (max-width: 860px) {
    .mainPage_card_content {
        max-width: 600px;
    }
  }