.MainPageCard {
    position: relative;
    width: 100%;
    min-height: 880px;
}

.mainPage_card_title {
    color: var(--white);
    font-weight: 700;
    font-size: 28px;
    max-width: 355px;
}

.mainPage_card_content {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 1470px;
}

.mainPage_card_link {
    color: var(--orange);
    text-decoration: underline;
}

.house_options {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.house_option {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

@media screen and (max-width: 1600px) {
    .mainPage_card_content {
        max-width: 1200px;
    }
  }
  
  @media screen and (max-width: 1290px) {
        .mainPage_card_content {
            max-width: 800px;
        }
    }

    @media screen and (max-width: 860px) {
        .mainPage_card_title {
            font-size: 22px;
        }

        .mainPage_card_content {
            max-width: 400px;
        }
        
        .house_option {
            font-size: 14px;
          }
    
          .house_option img {
            width: 30px;
        }
    }

  @media screen and (max-width: 768px) {
      .MainPageCard {
            min-height: 680px;
      }
      .mainPage_card_content {
          max-width: 350px;
      }
  }
  