.CatalogFilterTab {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--main-blue);
    font-size: 18px;
    font-weight: 700;
    padding: 14px 15px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: .2s all;
    cursor: pointer;
}

.CatalogFilterTab:last-child {
    gap: 0;
}

.CatalogFilterTab:hover {
    background-color: var(--blue);
    box-shadow: 0px 4px 2px 0px var(--main-blue);
}

@media screen and (max-width: 920px) {
    .CatalogFilterTab {
        font-size: 14px;
    }
}