:root {
  --red: #cb2b2f;
  --blue-light: #eef6f6;
  --blue: #e2efef;
  --dark-blue: #272843;
  --dark-blue72: #27354372;
  --dark-blue05: #272b4350;
  --dark-blue02: #272b4320;
  --white: #fff;
  --white50: #ffffff50;
  --white15: #ffffff15;
  --main-blue: #2d4990;
  --main-blue80: #2d499080;
  --main-blue-light: #84ade2;
  --orange: #ffba00;
  --main-blue-hover: #1e3b7b;
}
