.catalogPage {
    background-color: var(--blue);
    min-height: 100vh;
}

.catalogPage_inner {
    padding: 80px 0px 80px 0px;
}

.catalog_filter_tabs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.catalog {
    padding-top: 40px;
    display: flex;
    gap: 30px;
}

.catalog_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activeTab {
    background-color: var(--blue) !important;
    box-shadow: 0px 4px 2px 0px var(--main-blue) !important;
}

.catalog_filter {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.catalog_filter_title {
    color: var(--dark-blue);
    font-size: 28px;
    font-weight: 700;
}

.filter_item {
    padding: 28px 12px 8px 12px;
    width: 100%;
    border-bottom: 2px solid var(--main-blue);
    border-radius: 4px;
    color: var(--dark-blue);
    font-size: 18px;
}

.filter_item_wrapper {
    position: relative;
}

.filter_item_title {
    color: var(--dark-blue05);
    position: absolute;
    top: 8px;
    left: 12px;
}