:root {
    --red: #CB2B2F;
    --blue-light: #EEF6F6;
    --blue: #E2EFEF;
    --dark-blue: #272843;
    --dark-blue72: #27354372;
    --dark-blue05: #272B4350;
    --dark-blue02: #272B4320;
    --white: #fff;
    --white50: #FFFFFF50;
    --white15: #FFFFFF15;
    --main-blue: #2D4990;
    --main-blue80: #2D499080;
    --main-blue-light: #84ADE2;
    --orange: #FFBA00;
    --main-blue-hover: #1E3B7B;
}