:root{
    --swiper-pagination-bullet-inactive-color: rgb(0, 179, 255);
    --swiper-pagination-color: var(--main-blue);
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
}