.main-slider-card {
  position: relative;
  width: 100%;
  min-height: 880px;

  &__content {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 1470px;
  }

  &__title {
    color: var(--white);
    font-weight: 700;
    font-size: 28px;
    max-width: 355px;
  }

  &__link {
    color: var(--orange);
    text-decoration: underline;
  }
}
