.catalogCard {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: .2s all;
}

.catalogCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

.catalogCard_inner {
    padding: 8px 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.catalogCard_img {
    max-width: 270px;
    height: 154px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.catalogCard_title {
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 700;
}

.catalogCard_properties {
    display: flex;
    gap: 8px;
}

.catalogCard_characteristic span {
    color: var(--dark-blue05);
    font-size: 14px;
}

.catalogCard_characteristic {
    display: flex;
    flex-direction: column;
    color: var(--dark-blue);
    font-size: 14px;
}