.house_page_tabs_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 48px;
    font-size: 18px;
    border-radius: 5px;
    transition: .2s all;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.housePage_info_block_content {
    margin-top: 24px;
    width: 45%;
}

.housePage_info_block_content_item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--dark-blue);
    margin-bottom: 12px;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 5px;
}

.housePage_info_block_content_item_title {
    color: var(--dark-blue05);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house_page_tabs_info_faq {
    width: 100%;
    background-color: var(--white);
    padding: 48px;
    font-size: 18px;
    border-radius: 5px;
    transition: .2s all;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}


.house_page_tab_question {
    width: 100%;
    max-width: 1470px;
    background-color: var(--blue-light);
    padding: 32px 32px 32px 44px;
    color: var(--main-blue);
    font-size: 28px;
    font-weight: 600;
    overflow: hidden;
    transition: .5s ease;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.house_page_tab_question_content {
    max-height: 0;
    overflow: hidden;
    font-weight: 400;
    transition: max-height 0.5s ease, padding 0.5s ease;
    font-size: 22px;
    color: var(--dark-blue);
}

.isOpen {
    max-height: 500px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.questionIcon {
    padding: 24px;
    background-color: var(--main-blue);
    border-radius: 4px;
    margin-right: 20px;
    transform: rotate(-90deg);
    transition: .5s ease;
}

.tabIcon {
    padding: 16px 14px;
    background-color: var(--main-blue);
    border-radius: 4px;
    margin-right: 12px;
    transform: rotate(-90deg);
    transition: .5s ease;
}

.isOpenQuestionIcon {
    transform: rotate(0deg);
}

.house_page_tab {
    padding: 16px;
    max-height: 70px;
    overflow: hidden;
    transition: max-height 0.6s ease, background-color 0.6s ease;
    border-radius: 5px;
    border-bottom: 2px solid var(--blue);
}

.house_page_tab_title {
    display: flex;
    align-items: center;
    color: var(--main-blue);
    font-size: 18px;
    font-weight: 600;
}

.isOpenTab {
    max-height: 1000px;
    background-color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.house_page_tab_content {
    padding: 16px;
}

@media screen and (max-width: 920px) {
    .house_page_tabs_info {
        background-color: unset;
        box-shadow: none;
        flex-direction: column;
        padding: 16px;
    }

    .house_page_tab_content {
        font-size: 16px;
    }

    .housePage_info_block_content {
        width: 100%;
        margin-top: 0;
    }

    .house_page_tab_question {
        font-size: 18px;
        padding: 16px;
    }

    .questionIcon {
        padding: 16px 14px;
    }

    .house_page_tab_question_content_text {
        font-size: 16px;
    }

    .housePage_info_block_content_item {
        font-size: 16px;
    }

    .housePage_info_block_content_item_title {
        font-size: 16px;
    }
}