.house_page_tabs_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 48px;
    font-size: 18px;
    border-radius: 5px;
    transition: .2s all;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.housePage_info_block_content {
    margin-top: 24px;
    width: 45%;
}

.housePage_info_block_content_item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--dark-blue);
    margin-bottom: 12px;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 5px;
}

.housePage_info_block_content_item_title {
    color: var(--dark-blue05);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house_page_tabs_info_faq {
    width: 100%;
    background-color: var(--white);
    padding: 48px;
    font-size: 18px;
    border-radius: 5px;
    transition: .2s all;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}


.house_page_tab_question {
    width: 100%;
    max-width: 1470px;
    background-color: var(--blue-light);
    padding: 32px 32px 32px 44px;
    color: var(--main-blue);
    font-size: 28px;
    font-weight: 600;
    overflow: hidden;
    transition: .5s ease;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.house_page_tab_question_content {
    max-height: 0;
    overflow: hidden;
    font-weight: 400;
    transition: max-height 0.5s ease, padding 0.5s ease;
    font-size: 22px;
    color: var(--dark-blue);
}

.isOpen {
    max-height: 500px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.openQuestionIcon {
    padding: 24px;
    background-color: var(--main-blue);
    border-radius: 4px;
    margin-right: 20px;
    transform: rotate(-90deg);
    transition: .5s ease;
}

.isOpenQuestionIcon {
    transform: rotate(0deg);
}
